
<div class="section">
  <div class="container blogli">
    <ul style="list-style-type: none;">
      <% page.posts.each(function(item){ %>
        <li class="title is-6">
          <a href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link%>
          </a>
        </li>
      <% }); %>
    <ul>
  </div>
</div>
