<html>
<%- partial('_partial/head') %>

<body>
  

  <%- body %>

  <%- partial('_partial/footer') %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56506279-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-56506279-6');
  </script>
</body>

</html>