<!-- Footer -->
<footer class="footer" style="background-color:white">
  <div class="container">
    <hr style="background-color:#dbdbdb; height: 1px" />
    <div style="float:left">
      Build with <i class="far fa-heart"></i> by
      <a href="https://twitter.com/tim_qian"> Tim Qian</a>
    </div>
    <div style="float: right">
      <a
        class="icon button is-white"
        href="https://twitter.com/t9tio"><i class="fab fa-twitter"></i></a>
      <a
        class="icon button is-white"
        href="https://join.slack.com/t/cloudfetch/shared_invite/enQtNTA5NzIyNTU2Mzc1LTIwNzZiODZkNzFiODY0NTM4OWViYjgxN2JkNGY0NzJiYWQzNTcwYzM3NjMwMmE2N2RkMzE0ZGRlYWJkYTY3Yzg"><i
          class="fab fa-slack"></i></a>
      <a
        class="icon button is-white"
        href="https://user-images.githubusercontent.com/5512552/40399903-53d1ebde-5e72-11e8-98d8-615fc40c09f1.jpeg"><i
          class="fab fa-weixin"></i></a>
      <a class="icon button is-white" href="mailto:timqian92@qq.com"><i
          class="fas fa-envelope"></i></a>
    </div>
  </div>
</footer>