<!-- Footer -->
<footer class="footer" style="background-color:white">
  <div class="container">
    <hr style="background-color:#dbdbdb; height: 1px" />
    <div style="float:left">
      Build by
      <a href="https://timqian.com"><strong>timqian</strong></a>
    </div>
    <div style="float: right;">
      <a class="icon button is-white" href="https://github.com/timqian">
        <i class="fab fa-github"></i>
      </a>
      <a class="icon button is-white" href="https://twitter.com/tim_qian">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="icon button is-white" href="https://join.slack.com/t/t9tio/shared_invite/enQtNjgzMzkwMDM0NTE3LTE5ZTUzYjU4Y2I0YzRiZjNkYTkzMzE1ZmM0NDdmYzRlZmMxNGY1MzZlN2EwYjYyNWVlMWY0Nzk2MDBhNWZlY2I">
        <i class="fab fa-slack"></i>
      </a>
      <a class="icon button is-white" href="https://raw.githubusercontent.com/timqian/images/master/3811553342733_.pic.jpg">
        <i class="fab fa-weixin"></i>
      </a>
      <a href='https://union.zhaodao.ai/#random' target='_blank'><img src='https://union.zhaodao.ai/icon.black.svg' width="20" height="20"></a>

    </div>
  </div>
</footer>
