<div class="blog-header">
  <nav class="navbar" id="nav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/favicon/favicon.ico" width="28" height="28" />
      </a>
      <a class="navbar-item" href="https://t9t.io">
        <strong>About</strong>
      </a>
      <a class="navbar-item" href="https://www.patreon.com/timqian">
        <strong>Donate</strong>
      </a>
      <span class="navbar-item"  style="position: fixed; right: 0px;">
        <a 
          href="https://feeds.pub/feed/https%3A%2F%2Fblog.t9t.io%2Fatom.xml"
          class="button"
        >
          <strong>Follow</strong>
        </a>

      </span>
    </div>
  </div>
</nav>
  <p class="lead blog-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
</div>