<div class="blog-header">
  <nav class="navbar" id="nav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/favicon/favicon.ico" width="28" height="28" />
      </a>
      <a class="navbar-item" href="https://t9t.io">
        <strong>About</strong>
      </a>
      <a class="navbar-item" href="https://www.patreon.com/timqian">
        <strong>Donate</strong>
      </a>
      <span class="navbar-item"  style="position: fixed; right: 0px;">

        <div class="dropdown is-right is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu6">
            <strong>Subscribe</strong>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu6" role="menu">
          <div class="dropdown-content">
            <a class="dropdown-item" href="/atom.xml">
              <strong>RSS</strong>
            </a>
            <a class="dropdown-item" href="https://raw.githubusercontent.com/timqian/images/master/20190926202015.jpg">
              <strong>公众号</strong>
            </a>
          </div>
        </div>
        </div>

      </span>
    </div>
  </div>
</nav>
  <p class="lead blog-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
</div>