<div class="blog-header">
  <nav class="navbar" id="nav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/favicon/favicon.ico" width="28" height="28" />
      </a>
      <a class="navbar-item" href="/atom.xml">
        <strong>RSS</strong>
      </a>
      <a class="navbar-item" href="https://t9t.io">
        <strong>About</strong>
      </a>
      <a class="navbar-item" href="https://www.patreon.com/timqian">
        <strong>Sponsors</strong>
      </a>
    </div>
  </div>
</nav>
  <p class="lead blog-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
</div>